/* #region variables */
:root {
  /* Font Variables */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* colors */
  --white: 255, 255, 255;
  --cloud: 244, 244, 253;
  --iris: 77, 90, 229;
  --navy-blue: 46, 47, 66;
  --navy-blue-modal: 46, 47, 66, 0.4;
  --slate: 67, 68, 85;
  --ocean: 64, 75, 191;
  --gradient-background-color: 46, 47, 66, 0.7;
  --light-slate: 142, 143, 153, 1;
  --success-green: 49, 208, 170, 1;
  --corn-flower: 231, 233, 252, 1;

  /* Transitions */
  --custom-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Position */
  --header-depth: 1;
  --backdrop-depth: 2;
}
/* #endregion */

/* #region Common */

html,
body {
  font-family: var(--main-font);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--slate));
  background-color: rgb(var(--white));
}

main {
  flex-grow: 1;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1168px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-weight: var(--weight-bold);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  color: rgb(var(--navy-blue));
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: var(--weight-medium);
  color: rgb(var(--navy-blue));
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  line-height: 1.5;
  border: 1px solid transparent;
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red;  */
  /* Use to debug container boundaries */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
}

/* #endregion */

/* #region Header */

.page-header .container {
  display: flex;
  flex-direction: row; /* Ensure navigation and contact info are in one row */
  align-items: center;
  justify-content: center;
}

.page-header {
  background-color: rgb(var(--white));
  padding: 0 15px 0 15px;
  border-bottom: 1px solid #e7e9fc;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

address {
  font-style: normal;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .main-navigation {
    margin-right: auto;
    width: auto;
  }
}

@media only screen and (min-width: 1158px) {
  .main-navigation {
    margin-right: auto;
    width: auto;
  }
}

.brand-logo {
  font-family: var(--secondary-font);
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(var(--iris));
  margin-right: 76px;
}

.brand-logo-header-text {
  color: rgb(var(--navy-blue));
}

.mobile-hamburger-menu-icon {
  fill: rgba(47, 47, 55, 1);
  cursor: pointer;
}

.mobile-ham-menu-wrapper {
  width: 24px;
  height: 56px;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .mobile-ham-menu-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .mobile-ham-menu-wrapper {
    display: none;
  }
}

.page-header .navigation-menu {
  display: none;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .page-header .navigation-menu {
    display: flex;
  }
}

@media only screen and (min-width: 1158px) {
  .page-header .navigation-menu {
    display: flex;
  }
}

.navigation-item:first-child .navigation-link {
  color: rgb(var(--ocean));
}

.navigation-link {
  font-weight: var(--weight-medium);
  color: rgb(var(--navy-blue));
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: var(--custom-transition);
  transition-property: color;
}

.navigation-link:hover {
  color: rgb(var(--ocean));
}
.navigation-link:focus,
.navigation-link:active {
  color: rgb(var(--ocean));
  text-decoration-color: rgb(var(--ocean));
}

/* Default state for the pseudo-element */
.navigation-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(var(--ocean));
  position: absolute;
  bottom: -1px;
  transition: var(--custom-transition);
  transition-property: background-color;
}

/* .navigation-link.active:hover::after {
  background-color: rgb(var(--ocean));
} */

.page-header .contact-info {
  font-style: normal;
  display: none;
}

@media only screen and (min-width: 768px) {
  .page-header .contact-info {
    display: flex;
  }
}

@media only screen and (min-width: 1158px) {
  .page-header .contact-info {
    display: flex;
  }
}

.contact-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .contact-list {
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .contact-list {
    flex-direction: row;
  }
}

.contact-item {
}
.contact-link {
  color: rgb(var(--slate));
  white-space: nowrap; /* Prevent line breaks within the contact link */
  transition: var(--custom-transition);
  transition-property: color;
}
.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: rgb(var(--ocean));
}
/* #endregion */

/* #region Hero first section */

.hero-section {
  background-color: rgb(var(--navy-blue));
  height: 432px;
  /* max-width: 320px; */
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(var(--gradient-background-color)),
      rgba(var(--gradient-background-color))
    ),
    url(../images/hero-section/mobile-hero-section-bg-img-1x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(var(--gradient-background-color)),
        rgba(var(--gradient-background-color))
      ),
      url(../images/hero-section/mobile-hero-section-bg-img-2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--gradient-background-color)),
        rgba(var(--gradient-background-color))
      ),
      url(../images/hero-section/tablet-hero-section-bg-image-1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(var(--gradient-background-color)),
          rgba(var(--gradient-background-color))
        ),
        url(../images/hero-section/tablet-hero-section-bg-image-2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: auto;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--gradient-background-color)),
        rgba(var(--gradient-background-color))
      ),
      url(../images/hero-section/desktop-hero-section-bg-image-1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(var(--gradient-background-color)),
          rgba(var(--gradient-background-color))
        ),
        url(../images/hero-section/desktop-hero-section-bg-image-2x.jpg);
    }
  }
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: rgb(var(--white));
  margin-bottom: 72px;
  max-width: 216px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: rgb(var(--white));
    margin-bottom: 72px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: rgb(var(--white));
    margin-bottom: 72px;
    max-width: 496px;
    margin-bottom: 48px;
  }
}

.cta-button {
  font-weight: var(--weight-medium);
  letter-spacing: 0.04em;
  color: rgb(var(--white));
  background-color: rgb(var(--iris));
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: var(--custom-transition);
  transition-property: background-color;
}
.cta-button:hover,
.cta-button:focus,
.cta-button:active {
  background-color: rgb(var(--ocean));
}
/* #endregion */

/* #region Strenghts section */
.strengths-section {
  justify-content: space-between;
  align-items: center;
}

.strength-item-icon {
  display: flex;
  width: auto;
  height: 112px;
  background-color: rgb(var(--cloud));
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  border: 1px solid rgba(var(--light-slate));
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .strength-item-icon {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .strength-item-icon {
    display: block;
  }
}

.strength-details {
  padding-top: 32px;
  padding-bottom: 32px;
}

.strengths-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .strengths-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .strengths-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.strength-item {
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
}

@media only screen and (min-width: 768px) {
  .strength-item {
    width: calc(50% - 24px);
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .strength-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.strength-title {
  font-size: 36px;

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  margin-bottom: 8px;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .strength-title {
    align-items: start;
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .strength-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    align-items: start;
    text-align: start;
  }
}

.strength-description {
}
/* #endregion */

/* #region Team section */
.team-section {
  background-color: rgb(var(--cloud));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team-section-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    flex-direction: row;
  }
}

.team-member {
  background-color: rgb(var(--white));
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-member {
  }
}

@media only screen and (min-width: 1158px) {
  .team-member {
  }
}

.team-photo {
}

.team-info-content {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-role {
  text-align: center;
  margin-bottom: 8px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-media-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(var(--iris));
  transition: var(--custom-transition);
  transition-property: background-color;
}

.social-media-list-link:hover,
.social-media-list-link:active,
.social-media-list-link:focus {
  background-color: rgba(var(--ocean));
}

.social-media-list .icon {
  fill: rgb(var(--cloud));
}

.social-media-list .icon:hover,
.social-media-list .icon:active {
  fill: var(--ocean);
}
/* #endregion */

/* #region Portolio section  */

.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    flex-direction: row;
  }
}

.portfolio-item {
  width: 100%;
  transition: var(--custom-transition);
  transition-property: box-shadow;
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px * 2) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

.portfolio-img {
}

.portfolio-item-description {
  padding: 32px 16px;
  border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-left: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.portfolio-item-title {
  margin-bottom: 8px;
}
.portfolio-item-text {
}

.portfolio-item-image-box {
  position: relative;
  overflow: hidden;
  transition: var(--custom-transition);
  transition-property: transform;
}

.hint-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--iris));
  color: rgba(var(--cloud));
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  margin: 0;
  transform: translateY(100%);
  transition: var(--custom-transition);
  transition-property: transform;
}

.portfolio-item:hover .hint-text {
  transform: translateY(0%);
}
/* #endregion */

/* #region Footer section */
.page-footer {
  background-color: rgb(var(--navy-blue));
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer .container {
  position: relative;
}

.brand-logo-footer {
  font-family: var(--secondary-font);
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(var(--iris));
  margin-right: auto;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .brand-logo-footer {
    margin-right: 76px;
  }
}

@media only screen and (min-width: 1158px) {
  .brand-logo-footer {
    margin-right: 76px;
  }
}

.brand-logo-footer-text {
  color: rgb(var(--cloud));
}
.footer-text {
  color: rgb(var(--cloud));
  width: 264px;
}

.page-footer .container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .page-footer .container {
    flex-direction: column;
    gap: 72px;
    align-items: flex-start;
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .page-footer .container {
    flex-direction: row;
    gap: unset;
    align-items: flex-start;
    text-align: start;
  }
}

.footer-logo-text {
  flex-direction: column;
}

@media only screen and (min-width: 1158px) {
  .footer-logo-text {
    margin-right: 120px;
  }
}

.social-media-container .footer-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.page-footer .social-media-list {
  justify-content: center;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .page-footer .social-media-list {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .page-footer .social-media-list {
    justify-content: flex-start;
  }
}

.page-footer .social-media-list-link:hover,
.page-footer .social-media-list-link:active,
.page-footer .social-media-list-link:focus {
  background-color: rgba(var(--success-green));
}

@media only screen and (min-width: 768px) {
  .page-footer .social-media-container {
    position: absolute;
    right: 164px;
  }
}

@media only screen and (min-width: 1158px) {
  .page-footer .social-media-container {
    position: static;
    justify-content: flex-start;
  }
}

.footer-form-input-label {
}
.footer-form-caption {
  color: white;
  font-weight: var(--weight-medium);
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form-wrapper {
}

.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-form {
    flex-direction: row;
  }
}

.footer-form-field {
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px;
  color: rgb(var(--white));
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--weight-medium);
  letter-spacing: 0.04em;
  color: rgb(var(--white));
  background-color: rgb(var(--iris));
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: var(--custom-transition);
  transition-property: background-color;
}
.footer-form-btn:hover,
.footer-form-btn:focus,
.footer-form-btn:active {
  background-color: rgb(var(--ocean));
}

.footer-form-btn-icon {
  margin-left: 16px;
  fill: rgb(var(--white));
}

/* #endregion */

/* #region Modal  */

.backdrop {
  position: fixed;
  inset: 0;
  z-index: var(--backdrop-depth);
  width: 100%;
  height: 100%;
  background-color: rgba(var(--navy-blue-modal));

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: var(--custom-transition);
  transition-property: opacity, visibility;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  padding: 24px;
  padding-top: 72px;
  border-radius: 4px;
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: var(--custom-transition);
  transition-property: transform;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: rgba(var(--corn-flower));
  transition: var(--custom-transition);
  transition-property: background-color, border;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: rgba(var(--ocean));
  border: none;
}

.modal-btn-icon {
  transition: var(--custom-transition);
  transition-property: fill;
  fill: rgb(var(--navy-blue));
}

.modal-btn:hover .modal-btn-icon {
  fill: rgb(var(--white));
}

.modal-caption {
  max-width: 360px;
  margin: auto;
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-weight: var(--weight-medium);
  font-style: normal;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Form styles */
.modal-form {
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  color: rgba(var(--light-slate));
  margin-bottom: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--weight-regular);
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input,
.modal-form-message {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: -0.02em;
  border-radius: 4px;
  border: 1px solid rgba(var(--navy-blue-modal));
  outline: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  transition: var(--custom-transition);
  transition-property: border-color;
  color: rgba(var(--navy-blue-modal));
}

.modal-form-input:focus,
.modal-form-message:focus {
  border-color: rgb(var(--iris));
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: var(--custom-transition);
  transition-property: fill;
}
.modal-form-input:focus + .modal-form-icon {
  fill: rgb(var(--iris));
}

.modal-form-input[type='tel']::placeholder {
  opacity: 0;
  transition: 150ms;
}
.modal-form-input[type='tel']:focus::placeholder {
  opacity: 1;
}

.modal-form-message {
  resize: none;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.modal-form-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.text-area {
  margin-bottom: 16px;
}

.modal-form-agreement {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-form-agreement-desc {
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.48px;
  color: rgba(var(--light-slate));
  user-select: none;

  align-items: center;
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(var(--navy-blue-modal));
  cursor: pointer;
  transition: var(--custom-transition);
  transition-property: border, background-color, fill;
  align-items: center; /* Align checkbox and text vertically */
  fill: transparent;
}

input[type='checkbox']:checked
  + .modal-form-agreement-desc
  > .modal-form-checkbox {
  border-color: transparent;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-checkbox-icon {
  opacity: 0;
}
input[type='checkbox']:checked
  + .modal-form-agreement-desc
  > .modal-form-checkbox
  > .modal-form-checkbox-icon {
  opacity: 1;
}
.modal-form-agreement-link {
  color: rgb(var(--iris));
  text-decoration: underline solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.48px;
  /* margin-left: 4px; */
}

.modal .cta-button {
  margin: auto;
}

/* #endregion */

/* #region Mobile-ham-menu */

.backdrop-mobile-menu {
  position: fixed;
  inset: 0;
  z-index: var(--backdrop-depth);
  width: 100%;
  height: 100%;
  background-color: rgba(var(--navy-blue-modal));

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: var(--custom-transition);
  transition-property: opacity, visibility;

  transform: translateX(100%);
}
.backdrop-mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateX(0);
}

.mobile-ham-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  padding: 16px;
  background: #fcfcfc;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: var(--custom-transition);
  transition-property: transform;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-ham-menu-navigation {
  height: 100%;
}

.mobile-ham-menu-navigation .navigation-menu {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  margin-top: 72px;
  margin-bottom: 168px;
}

.mobile-ham-menu-navigation .navigation-item {
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.72px;
}

.mobile-ham-menu .contact-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.mobile-ham-menu .contact-item {
  font-size: 20px;

  font-weight: var(--weight-medium);
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.mobile-ham-menu .social-media-list {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 40px;
}

/* #endregion */
